@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.inputSearch {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
  color: rgb(86, 67, 204);
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  width: 10%;
  height: 0.9rem;
}

.inputSearch {
	padding: 9px 10px 9px 32px;
	/* width: 55px; */
	background: #323232 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	
	-webkit-border-radius: 10em;
	   -moz-border-radius: 10em;
	        border-radius: 10em;
	
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	        transition: all .5s;
}
.inputSearch:focus {
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	   -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	        box-shadow: 0 0 5px rgba(109,207,246,.5);
}