.container {
    width: 100%;
    height: 100%;
    /* overflow-x: scroll; */
}

.listContainer {
    width: 100%;
    height: 100px;
    display:flex;
}

.headerText {
    letter-spacing: 0.1rem;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 20px;
}

.animatedContainer {
    overflow: hidden;
}

.trendingListContainer {
    width: 2200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* padding: 0 10px; */
    gap: 20px;
    padding: 0 20px;
    animation: slideInFromLeft 40s linear infinite;
}

.trendingListContainer:hover {
    animation-play-state: paused;
}

.trendingCoin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-radius: 15px;
    padding: 20px;
    background: linear-gradient(92.88deg, rgb(69, 94, 181, 0.4) 1%, rgb(86, 67, 204, 0.8) 50%, rgb(103, 63, 215, 0.4) 100%);
}



.nameAndImgAndRank {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
}

.nameAndRank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
}

.trendingCoinImg {
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

.coinBtcPrice {
    font-size: 1.2rem;
    font-weight: 300;
}


.coinName {
    font-size: 1.8rem;
    margin: 0;
}

.coinRank {
    font-size: 1.2rem;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 1200px) {

    .scroll {
        display: none;
    }

    /* .container {
        overflow-x: scroll;
    } */

    .trendingListContainer {
        width: 2200px;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 15px;
    }

    .trendingCoin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 75px;
        border-radius: 15px;
        padding: 20px;
    }

    .trendingCoinImg {
        width: 56px;
        height: 56px;
    }

    .coinName {
        /* font-size: 1.8rem; */
        margin: 0;
    }

    .coinBtcPrice {
        display: none;
    }

 
}