@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

:root {
  --gradientColorZero: #6c1e6d;

}


body {
  margin: 0;
  padding: 0;
  background: rgb( 6, 6, 6);
  display: flex;
  justify-content: center;
  font-family: 'Dongle', sans-serif;
}

*, ::before, ::after {
  box-sizing: border-box;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}


  .header {
    width: 50%;
  }

/* 
  @media (min-width: 768px) {
    body {
      background: white;
    }
  } */