/* 0% {
  transform: translateX(var(--marquee-start,0%));
}

100% {
  transform: translateX(calc(-100% + var(--marquee-start,0%)));
} */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding: 0 20px; */
  background: rgb( 6, 6, 6);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 52px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: aliceblue;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
}


.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.insetShadowBox {
  box-shadow: inset 0 0 30px rgb(158, 37, 37);
  width: 100%;
  max-width: 550px;

  padding: 5px;
  z-index: 100;
}

.introAnimationContainer {
  position: relative;
  margin-top: 100px;
  width: 100%;
  max-width: 550px;
}
/* 
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: inset 0 4px 200px rgb(6, 6, 6, 1);
  box-shadow: inset 0 -4px 200px rgb(6, 6, 6, 1);
} */

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 100%;  margin-bottom: 20px;
  overflow: hidden;
}

/* .rowWithItems {
  display: flex;
  height: 100%;
  animation: moveItems 20s linear infinite;
} */

.rowWithItems1 {
  display: flex;
  height: 100%;
  animation: moveItems 30s linear infinite;
}

.rowWithItems2 {
  display: flex;
  height: 100%;
  animation: moveItems 22s linear infinite;
}

.rowWithItems3 {
  display: flex;
  height: 100%;
  animation: moveItems 35s linear infinite;
}

.rowWithItems4 {
  display: flex;
  height: 100%;
  animation: moveItems 26s linear infinite;
}

.rowWithItems5 {
  display: flex;
  height: 100%;
  animation: moveItems 39s linear infinite;
}


.itemBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  
  border-radius: 15px;
  margin-right: 24px;
  background: linear-gradient(155.91deg, rgb(24, 25, 28) 21.92%, rgb(33, 34, 37) 77.49%);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 1px 0px inset;
  cursor: pointer;
  z-index: 100;
} 

.logoItemBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  margin-right: 24px;
  background: linear-gradient(155.91deg, rgb(219, 223, 233) 21.92%, rgb(173, 191, 245) 77.49%);
  box-shadow: 10px 10px 20px rgba(6, 6, 6, 1), -10px -10px 20px rgba(6, 6, 6, 1);
  cursor: pointer;
  z-index: 100;
}

.itemBox:hover {
  box-shadow: white 10px 10px 1px 0px inset,
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 70px;
  width: 100dvw;
}

.logoTitle {
  letter-spacing: 1.3px;
  font-size: 2rem;
  font-weight: 400;
  background: -webkit-linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%) text; */
}

.lightShadowDiv1 {
  position: absolute;
  transform: translateX(30px);
  top: 170px;
  left: -120px;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #0ff; 
  box-shadow: 0 0 180px 90px #5743cd;
}

.lightShadowDiv2 {
  position: absolute;
  transform: translateX(340px);
  top: 310px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #0ff; 
  box-shadow: 0 0 180px 110px #5743cd;
}

@media (min-width: 548px) {
  .lightShadowDiv1 {
    display: none;
  }
  
  .lightShadowDiv2 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .main {
    max-width: 1200px;
  }
  .header {
    max-width: 1200px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@keyframes moveItems {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1512px);
  }
}
  
